*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    position: absolute;
    display: flex;
    height: auto;
    width: 100%;
    background-color: #e7c0e4;
}

.container {
    background-color: #faffdd;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 30px auto;
    height: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-button {
    margin-left: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-task-button:hover {
    background-color: #218838;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task-item.completed .task-text {
    text-decoration: line-through;
}

.task-buttons {
    display: flex;
}

.task-buttons button {
    margin-left: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button {
    background-color: #ffc107;
    color: #fff;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

@media (max-width: 600px) {
    .input-section {
        flex-direction: column;
    }

    #add-task-button {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media (max-width: 480px){
    .container{
        margin: 20px;
    }
}
